<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <h1>Registrar's Office</h1>
            <h2>{{student.getName}}</h2>
            <p>
                Enrolled: {{student.getEnrollment}}
            </p>


            <form action="/student_update" method="post">
                <input type="hidden" name="student_id" value="{{ student.getId() }}">
                <input type="hidden" name="_method" value="patch">
                <div class="form-group">
                    <label for="updated_name">Change Name:</label>
                    <input id="updated_name" name="updated_name" class="form-select" type="text" value="{{ student.getName }}">
                </div>

                <div class="form-group">
                    <label for="updated_enrollment">Change Enrollment Date:</label>
                    <input id="updated_enrollment" name="updated_enrollment" class="form-select" type="date" value="{{ student.getEnrollment }}">
                </div>



                <button class="btn btn-primary" type="submit">Update!</button>
            </form>
            <form  action="/delete_student/{{student.getId}}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger" name="button">Delete This Student</button>
            </form>

            <h3>Courses:</h3>
             {% if courses is not empty%}
                <ul>
                    {% for course in courses %}
                        <li> <strong>{{course.getCourseNumber}}</strong>: {{course.getCourseName}}</li>
                    {% endfor %}
                <ul>
             {% endif %}

             
            <a href="/"><button type="button" name="button">Back to Home</a></button>
            <a href="/students"><button type="button" name="button">Back to Students</a></button>
        </div>

    </body>
</html>
